.menuContainer {
  margin: 30px 0px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.eachItems {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}

.eachItem {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 12px;
}

.menuImg {
  width: 200px;
  height: 200px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuText {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
