.contentWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 20px;
}
.header {
  color: white;
  font-weight: 600;
  font-size: 54px;
  line-height: 66px;
}
.center-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  text-align: center;
}
.images {
  height: 450px !important;
  width: 250px !important;
}
