.quotes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quote {
  display: flex;
  border-radius: 12px;
  background: white;
  height: 340px;
  width: 380px;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: start;
  justify-content: space-between;
  width: 100%;
}
.quote-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: darkslategrey;
}

.quote-header {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: darkslategrey;
}
.quote-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: darkslategrey;
}

.imgSection {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.menuImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.arrowContainer {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 82, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  height: "20px";
  width: "20px";
  color: white;
}
