* {
  margin: 0;
}
.main-from {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
}

.element {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
}
.messLayout {
  background-color: rgb(255, 82, 0);
  margin: 0 10%;
  display: flex;
  height: 100%;
  justify-content: center;
}

.home-banner {
  background-color: rgb(255, 82, 0);
  height: 610px;
  display: flex;
  padding-top: 50px;
}

.layout {
  margin: 0 10%;
  display: flex;
  height: 100%;
  justify-content: center;
}
